<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel='icon' href='/assets/img/favicon.jpg' type='image/x-icon'/ >
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		
		<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Monoton|Roboto" rel="stylesheet">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	 crossorigin="anonymous">

		<title>Eat A Burger</title>

		<script src="https://code.jquery.com/jquery.js"></script>	
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>