body {
    background-image: url(/assets/img/burger1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: peachpuff;       
}

.container {
    margin-top: 2%;
    margin-left: 2%;
}

h1 {
   margin-top: 3px;
   margin-bottom: 15px;
   text-align: center;
   font-family: 'Monoton', cursive;
}

#ready {
    margin-left: 22%;
}

#devoured {
    margin-left: 13%;
}

#order {
    margin-left: 5.5%;
}


img {
    margin: 10px;
}

li {
    margin-bottom: 4px;
  
}

.btn {
    margin-left: 4px;
  
}
